body{
    background:#f4f4f4;
}

/* Navbar */
.navbar{
    min-height: 33px !important;
    margin-bottom:0;
    border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
    padding-top:6px !important;
    padding-bottom:0 !important;
    height: 33px;
}

.navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

/* Custom */
.main-color-bg{
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color:#ffffff !important;
}

/* Header */
#header{
    background:#333333;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
    background:#cccccc;
    color:#333333;
}

.breadcrumb a{
    color:#333333;
}

/* Progress Bars */
.progress-bar{
    background:#333333;
    color:#ffffff;
}

.dash-box{
    text-align:center;
}

#login{
    margin-top:30px;
}

/* Footer */
#footer{
    background:#333333;
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
    width: 100%;
    position: absolute;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #c0392b;
    }
}

.form-control1 {
    display: block;
    height: 27px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out;
}

.avatar {
    top: 32px;
    left: 100px;
    width: 200px;
    height: 200px;
}

.avatarbtn {
    top: 33px;
    left: 118px;
}

* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: red;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 5px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: red;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
        width: 12.2%;
    }
}

.form-gap {
    padding-top: 70px;
}

.dataTables_filter {
    display: none;
}

#example {
    text-align-last: center;
}

.container {
    width: 1350px;
}

.avatar-detail {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height:150px;
    width: auto;
    height: auto;
}

#span-success{
    background-color: #28a745;
}

#span-pending{
    background-color: #ffbc34;
}

#span-failure{
    background-color: #e74c3c;
}

.check {
    display: block;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.checktoggle {
    background-color: #e0001a;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 24px;
    margin-bottom: 0;
    position: relative;
    width: 48px;
}
.checktoggle:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(5px, -50%);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 300ms ease, transform 300ms ease;
}
.check:checked + .checktoggle {
    background-color: #55ce63;
}
.check:checked + .checktoggle:after {
    left: 100%;
    transform: translate(calc(-100% - 5px), -50%);
}
.onoffswitch {
    margin-left: auto;
    position: relative;
    width: 73px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 50%;
}
.onoffswitch-inner:before {
    background-color: #55ce63;
    color: #fff;
    content: "ON";
    padding-left: 14px;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #ccc;
    color: #fff;
    text-align: right;
}
.onoffswitch-switch {
    background: #fff;
    border-radius: 20px;
    bottom: 0;
    display: block;
    height: 20px;
    margin: 5px;
    position: absolute;
    right: 43px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 20px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.formstyle {
    margin-bottom: 10px;
}

.fileinputform {
    display: block;
    margin: 0 auto;
    margin-left: 160px;
}

.booking-doc-img {
    display: inline-block;
    margin: 0 0 15px;
    width: auto;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.widget-profile.pat-widget-profile .profile-info-widget .booking-doc-img {
    padding: 0;
}
.widget-profile.pat-widget-profile .profile-info-widget .booking-doc-img img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

widget-profile {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.pro-widget-content {
    border-bottom: 1px solid #f0f0f0;
    padding: 20px;
    text-align: center;
}

.widget-profile {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.widget-profile .profile-info-widget {
    display: block;
    text-align: center;
}
.widget-profile .profile-info-widget .booking-doc-img {
    display: inline-block;
    margin: 0 0 15px;
    width: auto;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 50%;
}
.widget-profile .profile-info-widget .booking-doc-img img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.widget {
    margin-bottom: 30px;
}

.review-listing {
    border-bottom: 1px solid #f5f7fc;
    margin-top: 20px;
    padding-bottom: 30px;
}
.review-listing > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.review-listing > ul li + li {
    margin-top: 20px;
    border-top: 1px dashed #f0f0f0;
    padding-top: 20px;
}
.review-listing > ul li .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    padding: 20px;
    background-color: papayawhip;
    border: 2px solid orangered;
    border-radius: 26px;
}
.review-listing > ul li .comment:last-child {
    margin-bottom: -10px;
}
.review-listing > ul li .comment .comment-body {
    margin-left: 16px;
}
.review-listing > ul li .comment .comment-body .meta-data {
    position: relative;
    margin-bottom: 10px;
}
.review-listing > ul li .comment .comment-body .meta-data span {
    display: block;
    font-size: 16px;
    color: #757575;
}
.review-listing > ul li .comment .comment-body .meta-data span.comment-author {
    font-weight: 600;
    color: #272b41;
    text-transform: capitalize;
}
.review-listing > ul li .comment .comment-body .meta-data span.comment-date {
    font-size: 14px;
}
.review-listing > ul li .comment .comment-body .meta-data .review-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 3px;
    right: 0;
    width: auto;
}
.review-listing > ul li .comment .comment-body .comment-content {
    color: #757575;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}
.review-listing > ul li .comment .comment-body .comment-reply .comment-btn {
    color: #20c0f3;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}
.review-listing .recommend-btn {
    float: right;
    color: #757575;
    font-size: 14px;
    padding: 5px 0;
    margin-bottom: 0;
}
.review-listing .recommend-btn a {
    border: 1px solid rgba(128,137,150,0.4);
    border-radius: 4px;
    padding: 4px 12px;
    color: #757575;
    margin-left: 3px;
    margin-right: 3px;
    transition: all .3s;
}
.review-listing .recommend-btn a.like-btn:hover {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: #fff;
}
.review-listing .recommend-btn a.dislike-btn:hover {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}
.review-listing .recommend-btn a i {
    font-size: 16px;
}
.review-listing > ul li .comments-reply {
    list-style: none;
    margin-left: 65px;
    padding: 0;
}
.review-listing > ul li .comment .comment-body .meta-data span.comment-date {
    margin-bottom: 5px;
}
.review-listing > ul li .comment .comment-body .meta-data .review-count {
    position: unset;
}
.rating {
    list-style: none;
    margin: 0 0 7px;
    padding: 0;
    width: 100%;
}
.rating i {
    color: #dedfe0;
}
.rating i.filled {
    color: #f4c150;
}
.profile-widget .rating {
    color: #757575;
    font-size: 14px;
    margin-bottom: 15px;
}
.profile-widget .rating i {
    font-size: 14px;
}

.avatar-feedback {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%!important;
}
.avatar-feedback > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.avatar-sm {
    width: 6.5rem;
    height: 6.5rem;
}
.avatar-sm .border {
    border-width: 3px !important;
}
.avatar-sm .rounded {
    border-radius: 4px !important;
}
.avatar-sm .avatar-title {
    font-size: 15px;
}
