<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsListController</servlet-name>
        <servlet-class>controller.admin.SettingsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorListController</servlet-name>
        <servlet-class>controller.admin.DoctorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorDetailEditController</servlet-name>
        <servlet-class>controller.admin.DoctorDetailEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.admin.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebBlogDetailController</servlet-name>
        <servlet-class>controller.WebBlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPatientDetailController</servlet-name>
        <servlet-class>controller.doctor.MyPatientDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationHistoryController</servlet-name>
        <servlet-class>controller.ReservationHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassDoctor</servlet-name>
        <servlet-class>controller.doctor.ChangePassDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentHistoryController</servlet-name>
        <url-pattern>/appointmenthistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebDoctorListController</servlet-name>
        <url-pattern>/dtlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebDoctorDetailController</servlet-name>
        <url-pattern>/dtinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppointmentHistoryController</servlet-name>
        <servlet-class>controller.AppointmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebDoctorListController</servlet-name>
        <servlet-class>controller.WebDoctorListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebDoctorDetailController</servlet-name>
        <servlet-class>controller.WebDoctorDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>controller.admin.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerifyController</servlet-name>
        <servlet-class>controller.EmailVerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAppointmentController</servlet-name>
        <servlet-class>controller.admin.AppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAppointDetail</servlet-name>
        <servlet-class>controller.admin.AppointmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorAppointmentController</servlet-name>
        <servlet-class>controller.doctor.DoctorAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAppointmentAdmin</servlet-name>
        <servlet-class>controller.admin.SearchAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPatientListController</servlet-name>
        <servlet-class>controller.doctor.MyPatientListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientListController</servlet-name>
        <servlet-class>controller.admin.PatientListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientDetailController</servlet-name>
        <servlet-class>controller.admin.PatientDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientEditController</servlet-name>
        <servlet-class>controller.admin.PatientEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSearchController</servlet-name>
        <servlet-class>controller.admin.PatientSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorListSearchController</servlet-name>
        <servlet-class>controller.admin.DoctorListSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAppointmentDetailController</servlet-name>
        <servlet-class>controller.doctor.MyAppointmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>controller.admin.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>controller.admin.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailController</servlet-name>
        <servlet-class>controller.admin.ServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>controller.admin.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationController</servlet-name>
        <servlet-class>controller.admin.ReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationSearchController</servlet-name>
        <servlet-class>controller.admin.ReservationSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailController</servlet-name>
        <servlet-class>controller.admin.ReservationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListController</servlet-name>
        <servlet-class>controller.admin.AccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailEditController</servlet-name>
        <servlet-class>controller.admin.AccountDetailEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>controller.admin.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.admin.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotResetPasswordController</servlet-name>
        <servlet-class>controller.ForgotResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServiceListController</servlet-name>
        <servlet-class>controller.WebServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServiceDetailController</servlet-name>
        <servlet-class>controller.WebServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentController</servlet-name>
        <servlet-class>controller.BookAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceFeedbackController</servlet-name>
        <servlet-class>controller.admin.ServiceFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogController</servlet-name>
        <servlet-class>controller.admin.AddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailEditController</servlet-name>
        <servlet-class>controller.admin.BlogDetailEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfileController</servlet-name>
        <servlet-class>controller.PatientProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorFeedbackController</servlet-name>
        <servlet-class>controller.doctor.DoctorFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileController</servlet-name>
        <servlet-class>controller.doctor.DoctorProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebBlogListController</servlet-name>
        <servlet-class>controller.WebBlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServiceController</servlet-name>
        <servlet-class>controller.BookingServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsListController</servlet-name>
        <url-pattern>/admin/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/admin/settingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorListController</servlet-name>
        <url-pattern>/admin/doctorlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorDetailEditController</servlet-name>
        <url-pattern>/admin/doctordetailedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientEditController</servlet-name>
        <url-pattern>/admin/patientedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSearchController</servlet-name>
        <url-pattern>/admin/patientsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientListController</servlet-name>
        <url-pattern>/admin/patientlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientDetailController</servlet-name>
        <url-pattern>/admin/patientdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/admin/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerifyController</servlet-name>
        <url-pattern>/emailverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAppointmentController</servlet-name>
        <url-pattern>/admin/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAppointDetail</servlet-name>
        <url-pattern>/admin/appointdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorAppointmentController</servlet-name>
        <url-pattern>/doctor/myappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAppointmentAdmin</servlet-name>
        <url-pattern>/admin/appointsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPatientListController</servlet-name>
        <url-pattern>/doctor/mypatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorListSearchController</servlet-name>
        <url-pattern>/admin/doctorlistsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAppointmentDetailController</servlet-name>
        <url-pattern>/doctor/myappointdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/admin/servicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/admin/servicesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/admin/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/admin/serviceadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationController</servlet-name>
        <url-pattern>/admin/reservationlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebBlogListController</servlet-name>
        <url-pattern>/webbloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListController</servlet-name>
        <url-pattern>/admin/accountlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationSearchController</servlet-name>
        <url-pattern>/admin/ReservationSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailController</servlet-name>
        <url-pattern>/admin/ReservationDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailEditController</servlet-name>
        <url-pattern>/admin/accountdetailedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/admin/addaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotResetPasswordController</servlet-name>
        <url-pattern>/forgotresetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>WebServiceListController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServiceDetailController</servlet-name>
        <url-pattern>/serviceinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentController</servlet-name>
        <url-pattern>/bookappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceFeedbackController</servlet-name>
        <url-pattern>/admin/servicefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfileController</servlet-name>
        <url-pattern>/patientprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorFeedbackController</servlet-name>
        <url-pattern>/doctor/myfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileController</servlet-name>
        <url-pattern>/doctor/doctorprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogController</servlet-name>
        <url-pattern>/admin/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailEditController</servlet-name>
        <url-pattern>/admin/blogdetailedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServiceController</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebBlogDetailController</servlet-name>
        <url-pattern>/webblogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPatientDetailController</servlet-name>
        <url-pattern>/doctor/mypatientdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationHistoryController</servlet-name>
        <url-pattern>/reservationhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassDoctor</servlet-name>
        <url-pattern>/doctor/changepassdoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
